@import "tailwindcss";

@theme {
    --font-surgena: "Surgena", sans-serif;
}

@font-face {
    font-family: "Surgena";
    src: url("/fonts/surgena.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}